<h1> Portal de Precios de Referencia COVID-19 </h1>
<p>El portal de Precios de Referencia COVID-19 es una iniciativa conjunta de los miembros de la Red Federal de Contrataciones Gubernamentales de Argentina con el apoyo técnico del Banco Interamericano de Desarrollo y su programa de apoyo a las compras públicas sub-nacionales RG-T2962. Su objetivo es brindar información que pueda servir de guía y referencia para los encargados de las contrataciones públicas de distintas jurisdicciones. Los datos compartidos incluyen valores de referencia de insumos y medicamentos e información sobre proveedores.</p>
<p>
La iniciativa surge a partir de la declaración de pandemia que emitió la Organización Mundial de la Salud el 11 de marzo y los consecuentes decretos del Poder Ejecutivo Nacional (DNU N°260/2020) y las administraciones provinciales para ampliar la Emergencia Sanitaria y habilitar normativas de contratación excepcionales.
</p>

<h4>Normativas útiles</h4>
<div class="row">
    <div class="col-lg-10">

        <table class="table">
            <tr>
                <th>
                    Boletín Oficial de la República Argentina
                </th>
                <td>Decreto 260/2020</td>
                <td>Ampliación de la Emergencia Sanitaria</td>
                <td><a href="https://visualizando.github.io/precioscovid/data/documentos/DNU_260-20.pdf" target="_blank">Descargar documento</a></td>
            </tr>
            <tr>
                <th>
                    Ciudad Autónoma de Buenos Aires
                </th>
                <td>Resolución N° 294-GCABA-MHFGC-2020</td>
                <td>Coordinación de las adquisiciones de los bienes y servicios relacionados con la emergencia sanitaria, y aprobación de DDJJ a presentar por los proveedores en dichos procedimientos.</td>
                <td><a href="https://visualizando.github.io/precioscovid/data/documentos/Resolucion_294-GCABA-MHFGC.pdf" target="_blank">Descargar documento</a></td>
            </tr>

            <tr>
                <th>
                    Provincia de Santa Fe
                </th>
                <td>Ley N° 13.977</td>
                <td>Declaración del Estado de Necesidad Pública</td>
                <td><a href="https://visualizando.github.io/precioscovid/data/documentos/Ley13977_SANTA-FE-NECESIDAD-PUBLICA.pdf" target="_blank">Descargar documento</a></td>
            </tr>

        </table>
    </div>
</div>

<h4>Portales nacionales de contrataciones y compras públicas por COVID-19</h4>
<ul>
<li><a href="https://www.argentina.gob.ar/jefatura/innovacion-publica/oficina-nacional-de-contrataciones-onc/procedimientos-covid" target="_blank">ARGENTINA</a></li>
<li><a href="https://app.powerbi.com/view?r=eyJrIjoiNmU2NzBkNzUtYmM1Mi00NGVmLTljYWQtNTIxNTlhMTQ4ZjQ5IiwidCI6ImIwMGQ1ZjQ5LTk4YWMtNGJjNS1hMmM5LWNhZmRmNzEyMTZmMCIsImMiOjR9 " target="_blank">CHILE</a></li>
<li><a href="https://app.powerbi.com/view?r=eyJrIjoiMGQ5YTkwNzItZWVhMC00ZTgxLWJmYzgtODE1NWE0ZGZmNDVkIiwidCI6IjdiMDkwNDFlLTI0NTEtNDlkMC04Y2IxLTc5ZDVlM2Q4YzFiZSIsImMiOjR9" target="_blank">COLOMBIA</a></li>
<li><a href="https://www.dgcp.gob.do/procesos-activos-covid-19/" target="_blank">DOMINICANA</a></li>
<li><a href="https://datosabiertos.compraspublicas.gob.ec/EMERGENCIA/" target="_blank">ECUADOR</a></li>
<li><a href="https://www.minfin.gob.gt/seguimiento-de-estados-de-excepcion" target="_blank">GUATEMALA</a></li>
<li><a href="https://portalunico.iaip.gob.hn/covid19.php" target="_blank">HONDURAS</a></li>
<li><a href="https://www.panamacompra.gob.pa/Inicio/ - !/busquedaAvanzada?BusquedaTipos=True&IdTipoBusqueda=51&title=Compras%20Mesa%20COVID-19" target="_blank">PANAMA</a></li>
<li><a href="https://www.rindiendocuentas.gov.py/contratista/ContratosRP" target="_blank">PARAGUAY</a></li>
<li><a href="https://portal.osce.gob.pe/osce/covid19/" target="_blank">PERU</a></li>
<li><a href="https://www.saude.gov.br/contratos-coronavirus" target="_blank">BRASIL</a></li>
</ul>