

<div class="row" style="background-color: #78c2ad47;">
    <div class="col-12">

      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="https://redfederaldecomprasarg.github.io/precioscovid/#!/" data-target="#myModal" data-toggle="modal">Precios de referencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://redfederaldecomprasarg.github.io/precioscovid/#!/normativas" data-target="#myModal" data-toggle="modal">Normativas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://redfederaldecomprasarg.github.io/precioscovid/#!/portales" data-target="#myModal" data-toggle="modal">Portales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" data-target="#myModal" data-toggle="modal">Acerca del proyecto</a>
        </li>
      </ul>
    </div>
  </div>
  <br><br>  
<h4>Sobre el Portal de Precios de Referencia COVID-19 </h4>
<p>El portal de Precios de Referencia COVID-19 es una iniciativa conjunta de los miembros de la Red Federal de Contrataciones Gubernamentales de Argentina con el apoyo técnico del Banco Interamericano de Desarrollo y su programa de apoyo a las compras públicas sub-nacionales RG-T2962. Su objetivo es brindar información que pueda servir de guía y referencia para los encargados de las contrataciones públicas de distintas jurisdicciones. Los datos compartidos incluyen valores de referencia de insumos y medicamentos e información sobre proveedores.</p>
<p>
La iniciativa surge a partir de la declaración de pandemia que emitió la Organización Mundial de la Salud el 11 de marzo y los consecuentes decretos del Poder Ejecutivo Nacional (DNU N°260/2020) y las administraciones provinciales para ampliar la Emergencia Sanitaria y habilitar normativas de contratación excepcionales.
</p>
