
<div class="row">
	<div class="col-sm-12">
		<h1> Medicamentos <small><span ng-show="loading">(cargando..) </span></small></h1>
		
	</div>
	
	<div ng-hide="loading" class="ng-cloak">
		<div class="col-sm-12">
			<p> Tenemos  {{medService.items.length}} </p>
		</div>
		<div class="col-sm-12 form">
			<input class="col-sm-6 input-group input-group-lg form-control" type="search" placeholder="Escribí el texto para filtrar " ng-model="search">
		</div>
		<div class="col-md-12" ng-repeat="med in medService.items | filter:search">
			<h2> {{med.marca}} </h2>
			<h4> {{med.descripcion}}</h4>
			<h5> $ {{med.precio_Unitario_PESOS}} </h5>
			<p> {{med.proveedor}} <small> {{med.cuit}} </small></p>
			<p> {{med.provincia}} <small> {{med.area}} </small></p>
			<p>{{med.observaciones}} </p>
			<p> {{med.fecha}} {{med.oc_exp}} </p>
		</div>
	</div>
</div>