

<div class="row" style="background-color: #78c2ad47;">
    <div class="col-12">

      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="https://redfederaldecomprasarg.github.io/precioscovid/#!/" data-target="#myModal" data-toggle="modal">Precios de referencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" data-target="#myModal" data-toggle="modal">Normativas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://redfederaldecomprasarg.github.io/precioscovid/#!/portales" data-target="#myModal" data-toggle="modal">Portales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://redfederaldecomprasarg.github.io/precioscovid/#!/about" data-target="#myModal" data-toggle="modal">Acerca del proyecto</a>
        </li>
      </ul>
    </div>
  </div>
  <br><br>  


  <div id="accordion">


    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Argentina <i class="fa fa-angle-down" aria-hidden="true"></i>
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="card-deck">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">DNU 260/20</h5>
                <p class="card-text"><small >AMPLIASE LA EMERGENCIA PUBLICA EN MATERIA SANITARIA ESTABLECIDA POR LEY N° 27.541, EN VIRTUD DE LA PANDEMIA DECLARADA POR LA ORGANIZACION MUNDIAL DE LA SALUD (OMS) EN RELACION CON EL CORONAVIRUS COVID-19, POR EL PLAZO DE UN (1) AÑO A PARTIR DE LA ENTRADA EN VIGENCIA DEL PRESENTE DECRETO. DISPOSICIONES. FACULTADES DE LA AUTORIDAD SANITARIA. AISLAMIENTO OBLIGATORIO. ACCIONES PREVENTIVAS. SUSPENSION TEMPORARIA DE VUELOS.</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/ARGENTINA/DNU_260-20.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">DECISIÓN ADMINISTRATIVA  812/2020   JEFATURA DE GABINETE DE MINISTROS</h5>
                <p class="card-text"><small >PLATAFORMA “ACORD.AR”. PORTAL DE GESTION DE LOS ACUERDOS NACIONALES. . FACÚLTASE A LA OFICINA NACIONAL DE CONTRATACIONES A REALIZAR LAS COMPULSAS TENDIENTES A OBTENER LAS PROPUESTAS QUE PODRÁN DAR LUGAR A LA CELEBRACIÓN DE ACUERDOS NACIONALES CON PROVEEDORES, CON EL OBJETO DE ATENDER LAS NECESIDADES EN EL MARCO DE LA EMERGENCIA EN FUNCIÓN DE LO ESTABLECIDO EN EL DECRETO Nº 260/20.</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/ARGENTINA/DECISION_812-20.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">DNU 287/20</h5>
                <p class="card-text"><small >SUSTITUYESE, EL ARTICULO 10 DEL DECRETO Nº 260/20, POR EL SIGUIENTE: “EL JEFE DE GABINETE DE MINISTROS COORDINARA CON LAS DISTINTAS JURISDICCIONES Y ORGANISMOS DEL SECTOR PUBLICO NACIONAL, LA IMPLEMENTACION DE LAS ACCIONES Y POLITICAS PARA EL ADECUADO CUMPLIMIENTO DE LAS RECOMENDACIONES QUE DISPONGA LA AUTORIDAD SANITARIA NACIONAL, EN EL MARCO DE LA EMERGENCIA Y DE LA SITUACION EPIDEMIOLOGICA. Y OTRAS MODIFICACIONES.</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/ARGENTINA/ARGENTINA/DNU_287.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">DISPOSICIÓN  48/2020   OFICINA NACIONAL DE CONTRATACIONES</h5>
                <p class="card-text"><small >APRUEBASE EL PROCEDIMIENTO COMPLEMENTARIO AL ESTABLECIDO EN LA DECISION ADMINISTRATIVA Nº DECAD-2020-409-APN-JGM, DE FECHA 18 DE MARZO DE 2020, PARA LAS CONTRATACIONES DE BIENES Y SERVICIOS EN EL MARCO DE LA EMERGENCIA PUBLICA EN MATERIA SANITARIA AMPLIADA POR EL DECRETO Nº 260 DE FECHA 12 DE MARZO DE 2020 Y SU MODIFICATORIO, EN VIRTUD DE LA PANDEMIA COVID 19</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/ARGENTINA/DISPO_ONC_EMERGENCIA.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">RECOMENDACIÓN SIGEN JUNIO 2020</h5>
                <p class="card-text"><small >RECOMENDACIONES PARA FORTALECER LA INTEGRIDAD Y TRANSPARENCIA EN CONTRATACIONES PÚBLICAS CELEBRADAS EL MARCO DE LA EMERGENCIA POR COVID-19</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/ARGENTINA/RECOMENDACIONES_SIGEN_CONTRATACIONES_COVID19.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>
    

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Buenos Aires <i class="fa fa-angle-down" aria-hidden="true"></i>
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="card-deck">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">DEC 132/2020</h5>
                <p class="card-text"><small >DECLARA EL ESTADO DE EMERGENCIA SANITARIA EN LA PROVINCIA, POR EL TÉRMINO DE 180 DÍAS, A TENOR DE LA ENFERMEDAD POR EL NUEVO CORONAVIRUS (COVID-19). SUSPENDE LA REALIZACIÓN DE TODO EVENTO CULTURAL, ARTÍSTICO, RECREATIVO, DEPORTIVO, SOCIAL DE PARTICIPACIÓN MASIVA Y LAS HABILITACIONES OTORGADAS POR LOS ORGANISMOS PROVINCIALES PARA LA REALIZACIÓN DE LOS MISMOS. INVITA A LOS PODERES LEGISLATIVO, JUDICIAL Y A LOS MUNICIPIOS, A ADHERIR A LOS TÉRMINOS DEL PRESENTE (SALUD PÚBLICA-CONTROL SANITARIO-RECOMENDACIONES-PREVENCIÓN-ASISTENCIA-VIRUS-PROTOCOLOS-PANDEMIA).</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/BUENOS_AIRES/Dec_132-2020.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Dec 304/2020</h5>
                <p class="card-text"><small >REGLAMENTA EL ART. 3° DE LA LEY 14806, ART. 2° DE LA LEY 14812, CAPITULO I DEL TITULO I Y TITULO III DE LA LEY 14815 Y LOS ARTICULOS 2°, 4° Y 6° DE LA LEY 15165. APRUEBA LA REGLAMENTACION UNICA EN MATERIA DE CONTRATACION DE EMERGENCIA -PROCEDIMIENTO DE CONTRATACIONES Y BIENES DE SERVICIOS, PROCEDIMIENTO DE RENEGOCIACION Y RESCISION DE CONTRATOS DE BIENES Y SERVICIOS DEL SECTOR PUBLICO, NOTA DE ADHESION AL REGISTRO DE CAMARAS Y ORGANIZACIONES EMPRESARIALES, REGIMEN DEL CONTRATO DE SERVICIOS -LEY 14815 Y MODELO DE CONTRATO DE SERVICIOS-, Y DESIGNA AUTORIDAD DE APLICACION. DEROGA LOS ARTICULOS 1° A 14 Y 16 A 18 DEL DECRETO 592/2016. (ESTADO DE EMERGENCIA - EXCEPCIONES)</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/BUENOS_AIRES/Dec_304-2020.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">DEC 546/2020</h5>
                <p class="card-text"><small >EXCEPTUA A LOS MINISTERIOS DE SALUD Y DE JEFATURA DE GABINETE DE MINISTROS DEL CUMPLIMIENTO DE LOS REQUISITOS PREVISTOS EN EL REGIMEN DEL CONTRATO DE SERVICIOS, LEY 14815, APROBADO POR ARTICULO 8 DECRETO 304/2020, EN LAS CONTRATACIONES QUE TENGAN POR OBJETO ATENDER LA EMERGENCIA SANITARIA DECLARADA POR EL DECRETO 132/2020 (PROCEDIMIENTOS DE CONTRATACIONES EXCEPTUADAS - VIGENCIA - PRORROGAS - PLAZOS).</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/BUENOS_AIRES/Decreto_546_2020.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
    

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Ciudad Autónoma de Buenos Aires <i class="fa fa-angle-down" aria-hidden="true"></i>
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="card-deck">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Resolución N° 294-GCABA-MHFGC-2020</h5>
                <p class="card-text"><small >Coordinación de las adquisiciones de los bienes y servicios relacionados con la emergencia sanitaria, y aprobación de DDJJ a presentar por los proveedores en dichos procedimientos.</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/CABA/Resolucion_294-GCABA-MHFGC.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Disposición N° 359-GCABA-DGCYC-2020 </h5>
                <p class="card-text"><small >Actualización del procedimiento para la autorización de la adquisición de bienes o servicios a contratar para atender a la emergencia sanitaria. Aprueba la Guía de procedimiento para la formalización de las compras y contrataciones enmarcadas en el Inciso 8 del Artículo 28 de la Ley N° 2.095 y deja sin efecto la Disposición N° 340-GCABA-DGCYC-2020.</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/CABA/Disposicion_359-GCABA-DGCYC-2020.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Dec 166/2020</h5>
                <p class="card-text"><small >Por el lapso que dure la emergencia sanitaria declarada por Decreto de Necesidad y Urgencia N° 1/20 los niveles de decisión del señor Ministro de Salud para los procedimientos de selección de contratación de bienes, servicios y muebles registrables quedan equiparados a los del Jefe de Gobierno de la Ciudad Autónoma de Buenos Aires.</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/CABA/Dec_166-2020.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">DNU 1/2020</h5>
                <p class="card-text"><small >Declara la Emergencia Sanitaria en el ámbito de la Ciudad Autónoma de Buenos Aires hasta el 15 de Junio de 2020 a los fines de atender y adoptar las medidas necesarias para prevenir y reducir el riesgo de propagación del contagio en la población del coronavirus (COVID-19);</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/CABA/DNU_1-2020.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Córdoba <i class="fa fa-angle-down" aria-hidden="true"></i>
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="card-deck">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Decreto N° 195/20</h5>
                <p class="card-text"><small >Dispone receso administrativo por la Pandemia COIVD 19, declara inhábiles a los fines del procedimiento administrativo los días comprendidos en el período de receso, y previó la elaboración de un plan de contingencia y guardias mínimas con la máxima restricción de agentes afectados.</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/CORDOBA/Dec_195-2020.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Res. N°46/20  del  Trib. de  Cuentas Provincial </h5>
                <p class="card-text"><small >Dispone la exclusión del control preventivo, sin perjuicio del contralor posterior, de los actos administrativos que autoricen gastos hasta determinado monto, en el marco de la emergencia sanitaria declarada y/o con el fin de cubrir necesidades para paliar los efectos del impacto social de dicha situación.</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/CORDOBA/Resolucion_N°_46-2020_del_Honorable_Tribunal_de_Cuentas.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Res. N° 149/20 de la Secretaría General de la Gobernación  </h5>
                <p class="card-text"><small >Exceptúa del receso y de los días inhábiles, a actuaciones administrativas vinculadas a contrataciones destinadas a atender necesidad esenciales vinculadas con la emergencia.</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/CORDOBA/000149-PRORROGA-RECESO-COVID-19.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Res. N°07/2020 Dirección Gral. de Compras y Contrataciones</h5>
                <p class="card-text"><small >Autoriza la realización de aperturas de oferta "a distancia" (mediante plataformas como zoom, meet, etc.), en el marco de procedimientos de Licitación Pública.</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/CORDOBA/Resolucion-DGCyC-07-20.-Apertura-a-Distancia_firmado.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            La Pampa <i class="fa fa-angle-down" aria-hidden="true"></i>
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="card-deck">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">LEY 3218</h5>
                <p class="card-text"><small >Créase el "Fondo Solidario para la Emergencia Sanitaria" que se integrará con el aporte solidario de todos los Funcionarios Públicos del Poder Ejecutivo Provincial, incluyendo entes descentralizados y autárquicos. Con la finalidad de reforzar partidas para adquisición de insumos hospitalarios del presupuesto vigente.</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/LA_PAMPA/LEY_3218_-_FONDO_SOLIDARIO.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">DEC 521/2020</h5>
                <p class="card-text"><small >Declara el estado de Máxima Alerta Sanitaria, conformando comité de crisis. Autoriza a las áreas competentes del PE a la adquisición de bienes de capital, bienes de consumo, servicios y a contratar las obras necesarias y pertinentes destinadas a paliar los efectos de la enfermedad epidémica Coronavirus (COVID-19), y a contratar en directamente, por razones de urgencia o emergencia.</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/LA_PAMPA/DECRETO_521_-2020.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">DEC 1299</h5>
                <p class="card-text"><small >Se autorizan a las aperturas de licitaciones bajo estrictos protocolos de seguridad e higiene. </small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/LA_PAMPA/DECRETO_1299_PROTOCOLO_APERTURA_LICITACIONES.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
         
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header" id="heading1">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            Mendoza <i class="fa fa-angle-down" aria-hidden="true"></i>
          </button>
        </h5>
      </div>

      <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
        <div class="card-body">
          <div class="card-deck">

            
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">DEC 401/2020</h5>
                <p class="card-text"><small >Amplia la emergencia declarada por el Dec. 359/2020 a las materias social, administrativa, económica y financiera. Dispone diversas medidas relacionadas a las Contrataciones Públicas.</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/MENDOZA/Dec_401-2020.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
         
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading2">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
            Neuquén <i class="fa fa-angle-down" aria-hidden="true"></i>
          </button>
        </h5>
      </div>

      <div id="collapse2" class="collapse show" aria-labelledby="heading2" data-parent="#accordion">
        <div class="card-body">
          <div class="card-deck">

            
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Dec. 366/20 </h5>
                <p class="card-text"><small >Declara el estado de emergencia sanitaria en la Provincia del Neuquén en virtud de la pandemia COVID-19. Crea el Comité de Emergencia. Autoriza Contrataciones de Emergencia.</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/NEUQUEN/Dec_366-20.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Ley 3230</h5>
                <p class="card-text"><small >Se declara la emergencia sanitaria en todo el territorio de la provincia del Neuquén en virtud de la pandemia delCOVID-19. Se faculta al Poder Ejecutivo para que disponga comités de emergencia y adopte todas las medidas necesarias en materia de sanidad y salubridad pública.</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/NEUQUEN/LEY_3230_firmada.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
         
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header" id="heading3">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
            Salta <i class="fa fa-angle-down" aria-hidden="true"></i>
          </button>
        </h5>
      </div>

      <div id="collapse3" class="collapse show" aria-labelledby="heading3" data-parent="#accordion">
        <div class="card-body">
          <div class="card-deck">

            
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">DEC 250/2020</h5>
                <p class="card-text"><small >Declara el estado de emergencia sanitaria en el territorio de la Provincia de Salta</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/SALTA/DEC_250-2020.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">LEY 8188</h5>
                <p class="card-text"><small >RATIFICA EL DECRETO 250</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/SALTA/Ley_8188.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header" id="heading4">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
            San Juan <i class="fa fa-angle-down" aria-hidden="true"></i>
          </button>
        </h5>
      </div>

      <div id="collapse4" class="collapse show" aria-labelledby="heading4" data-parent="#accordion">
        <div class="card-body">
          <div class="card-deck">

            
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Ley 2035</h5>
                <p class="card-text"><small >Declaración de Emergencia Sanitaria Provincial en el marco de la pandemia por Coronavirus (COVID-19)</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/SAN_JUAN/San_Juan_-_2020-03-25-Ley_2035_EMERGENCIA_SANITARIA.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Res. 563 – Secretaría de Hacienda y Finanzas</h5>
                <p class="card-text"><small >Procedimientos contables, de control administrativo y contrataciones para tramiento de cuestiones de emergencia  COVID 19</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/SAN_JUAN/San_Juan_-_2020-03-25-RESOLUCION_0563_SHF-PROCEDIMEINTO_EMERGENCIA.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="heading5">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
            Santa Fé <i class="fa fa-angle-down" aria-hidden="true"></i>
          </button>
        </h5>
      </div>

      <div id="collapse5" class="collapse show" aria-labelledby="heading5" data-parent="#accordion">
        <div class="card-body">
          <div class="card-deck">

            
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">DECRETO COVID CREACION DE COMITE</h5>
                <p class="card-text"><small >...</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/SANTA_FE/DECRETO_COVID_CREACION_DE_COMITE.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Ley 13977 SANTA FE NECESIDAD PUBLICA</h5>
                <p class="card-text"><small >...</small></p>
              </div>
                <div class="card-footer">
                    <a class="" href="https://redfederaldecomprasarg.github.io/precioscovid/data/docs/SANTA_FE/Ley_13977_SANTA_FE_NECESIDAD_PUBLICA.pdf" target="_blank"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Descargar documento </a>
                </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

  </div>  










