.badge{
    margin-right: 3px;
    white-space: normal;
}

.badge-info {
    color: #fff;
    background-color: #6CC3D5;
    border: 1px solid #6CC3D5;
}

.badge-unselected {
    color: #444;
    background-color: #f8f9fa;
    border: 1px solid silver;
}

.badge-container{
    line-height: 1.4;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.25rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.jumbotron {
    padding: 4rem 2rem 0rem 2rem;
}

.card-text:last-child {
    margin-bottom: 0;
    line-height: 100%;
    opacity: 0.8;
}

h5.card-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
}


p.card-text {
    margin-bottom: 0;
}


@media (min-width: 576px){
    .card-deck .card {
        display: flex;
        flex: 1 0 0%;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 25px;
        margin-left: 15px;
        min-width: 30%;
    }

}

.lista li{
    line-height: 2rem;
}